body {
  background: #000;
  font: 12px monospace;
  color: #333;
  overflow: hidden;
}
textarea {
  position: absolute;
  z-index: -10;
  background: #666;
  color: #ccc;
  border: 1px solid #ccc;
  width: 32em;
  height: 16em;
  visibility: hidden;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
